<p>Nombre Empleado: {{nombre}}</p>
<p>Apellido Empleado: {{apellido}}</p>
<p>Nombre Empresa: {{empresa.value}}</p>
<p>Edad Empleado: {{edad}}</p>
<p>Empleado adulto: {{edad >18 ? "Mayor de edad":"Menor de edad"}}</p>
<p>pais  :{{pais.value}}</p>

Introduce la Empresa <input type="text" #empresa >
<br>
<br>
<input type="button" value="ejecuta" (click)="llamaEmpresa(empresa.value)">
<br>
<br>
Usando un evento al teclear, Pais <input type="text" #pais (keyup)="0" [disabled]="habilitarCuadroTexto">
<br>
<br>
{{textoDeRegistro}}
<br>
Registrado: <input type="radio" value="si" name = "nRegistro" id="registro" [checked]="usuarioRegistrado" (click)="setusuarioRegistrado($event)" >
<br>
No registrado: <input type="radio" value="no"  name = "nRegistro" (click)="setusuarioRegistrado($event)">

{{getRegistroUsuario()}}
